.outer{
  width:100vw;
  height:100vh;
  background-color: #000;
}

.input{
  width:500px;
  height:30px;
  margin-top: 20px;
  display: absolute;
  margin-left: 50vw;
  transform: translateX(-250px);
  border-radius: 10px;
  outline: none;
  font-size: 18px;
}

.task{
  width:480px;
  height:20px;
  display: flex;
  color: #fff;
  margin-left: 50vw;
  transform: translateX(-240px);
  margin-top: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.remove{
  display: none;
}

.task:hover .remove{
  display: inline-block;
}

.todo{
  display: inline-block;
}

.icon{
  margin-right: 20px;
  transform: translateY(4px);
  display: inline-block;
}
